.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  margin: 10px;
  padding: 5px;
}

button {
  padding: 10px;
  background-color: #f2f2f3;
  color: rgb(19, 18, 18);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f2f2f3;
}
