#quote{
    font-family:initial;
    font-weight: bold;
    font-size: 20px;
}

#reg{
    font-size: 20px;
    font-weight: bold;
}

#t2{
    margin-top: 10%;
}
.dashboard{
    margin-top: 10%;
}