.footer{
    background-color: rgba(197, 205, 206, 0.623);
    width:100%;
}

a{
    padding: 1cm;
}

#c{
    color: black;
    margin-bottom: -0.2cm;
}

.end{
    font-size: 15px;
}

.social-icons{
    background-color: rgb(1, 86, 160);
}

.copyrights{
    margin-right: 80%;
    margin-bottom: -1cm;
}

.e{
    margin-bottom: 1cm;
}

.social-content{
    margin-top: -0.7cm;
}