.signup-container {
    background-image: url('C:\Users\Admin\Desktop\sample12923\src\organ.webp'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(239, 240, 244);
  }
form {
    padding-left: 120m;
    padding: 20px; 
    max-width: 400px; 
    margin: 0 auto; 
}

.form {
    margin-left: 1cm;
    margin-bottom: cm;
}
input {
    margin-left: 10ch;
    opacity: 0.7;
    border: 0;
    border-radius: 10px;
}

button {
    border-radius: 20px;
}

#password {
    margin-right: 2ch;
}

label[for="email"] {
    padding-right: 4ch;
  }
  
label[for="password"] {
    padding-right: 1ch;
  }